*,
*::before,
*::after{
    padding: 0px;
    box-sizing: border-box;
    margin: 0px;
}
body{
    height: 100vh;
   
    
    
    
}
.playerInfoForm{
    height: 100vh;
    background-color: #796465;
   
   justify-content: center;
   align-content: center;
   
}
fieldset {
    padding: 10px;
    margin: 10px;
    width: 300px;
    height: 400px;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.p1Info, .p2Info{
    margin-bottom: 20px;

}
label{
   width: 100%;
    height: 30px;
    font-size: 25px; 
   
}
input[type='text']{
    width: 100%;
    height: 30px;
    font-size: 25px;
    margin-top: 10px;
    
}

.mainContainer{
    height: 100vh;
    width: 100vw;
    background-color: #E8D2AE;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 1fr;
    justify-items: center ;
    align-items: center;
}
.gridContainer{
    width: 370px;
    height: 370px;
    
    color: white;
    background-color: black;

    display: grid;
    

    grid-template-columns: repeat(3,120px);
    grid-template-rows: repeat(3,120px);
    gap: 5px;
    justify-content: center;
    align-content: center;
}
.welcomeMessage{
    font-size: 50px;
    font-weight: bolder;
}

.TiTaToCell{

    background-color: #E8D2AE;
    font-size: 50px;
    font-weight: bolder;

    display: grid;
    justify-content: center;
    align-content: center;
}

button{
    background-color: #cb8589;
}
.buttonsDiv{
    justify-self: center;
    margin-top:  10px;
}
.gameBtns{

    width: 150px;
    height: 50px;
    margin-bottom: 10px;
    margin-right: 10px;
}
.btnStart{
    margin-top: 10px;
    justify-self: center;
    align-self: center;
}

