*,
*::before,
*::after{
    padding: 0px;
    box-sizing: border-box;
    margin: 0px;
}
body{
    height: 100vh;
   
    
    
    
}

fieldset {
    width: 300px;
    height: 400px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.mainContainer{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 1fr;
    justify-items: center ;
    align-items: center;
}
.gridContainer{
    width: 400px;
    height: 400px;
    
    color: white;
    background-color: black;

    display: grid;
    

    grid-template-columns: repeat(3,120px);
    grid-template-rows: repeat(3,120px);
    gap: 5px;
    justify-content: center;
    align-content: center;
}
.welcomeMessage{
    font-size: 50px;
    font-weight: bolder;
}

.TiTaToCell{

    background-color: white;
    font-size: 50px;
    font-weight: bolder;

    display: grid;
    justify-content: center;
    align-content: center;
}

button{
    background-color: hsl(124, 100%, 49%);
}
.buttonsDiv{
    justify-self: center;
}
.gameBtns{

    width: 150px;
    height: 50px;
    margin-bottom: 10px;
    margin-right: 10px;
}


